/* Elements HTML class -------------------------------------------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#555555, #AAAAAA);
}

main{
    width: 100%;
    margin: 10px auto;
}

header{
    position: relative;
    padding: 0 2rem;
    width: 100%;
    background: url(/img/bg.jpg);
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

/* Configuration class -------------------------------------------------------- */


/* Style class ---------------------------------------------------------------- */
.img-header-mobile{
    display: none;
}

.img-header-desktop{
    display: block;
}

.navbar{
    width: 100%;
    height: 250px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
}

header a{
    text-transform: uppercase;
    color: #FFFFFF;
}

header a:hover{
    color: #FFA500;
}

.navbar-links{
    display: flex;
    gap: 8rem;
}

.login-btn{
    background-color: #FFA500;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.navbar .login-btn:hover{
    scale: 1.1;
    color: #000000;
}

.toggle-btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown-menu{
    display: none;
    position: absolute;
    right: 1rem;
    top: 120px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li{
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .login-btn{
    width: 80%;
    color: #000000;
    text-align: center;
}

.dropdown-menu.open{
    height: 200px;
}


/* FOOTER ------------------------------------------------------------------ */

footer{
    display: flex;
    padding: 40px;
    color: #FFFFFF;
    text-align: center;
    background: url(/img/bg.jpg);
}

.paragraph-copyright{
    font-size: 13px;
    margin: 20px;
}

.map-footer{
    margin: 1em;
}

/* HOME -------------------------------------------------------------------- */

.image-banner{
    background: url("/img/banner.jpg");
    height: 350px;
    background-size: cover;
    background-position: center;
}

.title-main{
    font-size: 2em;
    margin: 0 0 1em;
}

.container-principal{
    padding: 20px;
}

.container-principal p{
    margin: 10px;
    font-weight: bold;
}

.container-principal strong{
    font-size: 1.5em;
}

.container-principal em{
    font-style: italic;
}

.image-principal{
    width: 120px;
    margin: 15px 20px 20px 0;
    float: left;
}

.container-characteristics{
    display: flex;
    margin: 10px;

}

.list-characteristics{
    width: 100%;
}

.list-items{
    font-style: italic;
    font-weight: bold;
    margin: 40px;
}

.list-items:first-child {
    font-size: 20px;
}

.list-items:after{
    content: " ★";
}

.list-items:before{
    content: "★ ";
}

.img-char{
    height: 400px;
    margin: 10px;
    background: url("/img/diferenciales.jpg");
    background-size: cover;
    box-shadow: 10px 10px 15px 5px #000000;
}

.img-char:hover{
    opacity: 0.5;
    transition: 600ms;
}

/* PRODUCTS ---------------------------------------------------------------- */

.main-products{
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(#CCCCCC, #AAAAAA);
}

.list-products{
    padding: 50px;
    width:940px;
    margin: 0 auto;
}

.list-products li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;

}

.list-products li:hover{
    border-color: #C78C19;
    cursor: pointer;
}

.list-products li:active{
    border-color: #088C19;
}

.list-products h2{
    font-size: 30px;
    font-weight: bold;
}

.list-products li:hover h2{
    font-size: 35px;
}

.description-product{
    font-size: 18px;
}

.price-product{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/* CONTACT ----------------------------------------------------------------- */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

fieldset{
    width: 70%;
    margin: 10px;
}

form label{
    width: 70%;
    text-align: left;
    font-size: 20px;
    margin: 5px 0;
}

form legend, form p{
    font-size: 20px;
}

.option-contact{
    margin: 5px 0;
}

.input-data{
    margin: 5px 0 10px 0;
    padding: 10px 2px;
    width: 70%;
}

form select{
    margin: 5px 0 10px 0;
    padding: 10px 2px;
    width: 50%;
}

.send-form{
    margin: 5px 0 20px;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFF;
    background: #FFA500;
    transition: 1s all;
    cursor: pointer;
}

.send-form:hover{
    background: #FF8C00;
    transform: scale(1.3);
}

.table-container{
    width: 940px;
    display: flex;
    justify-content: center;
}

table{
    width: 50%;
}

thead{
    background: #555555;
    font-weight: bold;
    color: #FFFFFF;
}

td, th{
    border: 1px solid #000000;
}

/* Media Querys --------------------------------------------------------------- */

/* XX-large devices (xx-large desktops) */
@media (max-width: 1920px) {
    
}

/* Extra large devices (large desktops) */
@media (max-width: 1200px) {
    .navbar-links{
        gap: 5rem;
    }
}

/* Large devices (desktops) */
@media (max-width: 992px) { 
    
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
    .img-header-desktop{
        display: none;
    }
    
    .img-header-mobile{
        display: block;
        width: 100px;
    }
    
    .navbar{
        height: 110px;
    }
    
    .navbar .navbar-links,
    .navbar .login-btn{
        display: none;
    }
    
    .toggle-btn{
        display: block;
    }
    
    .dropdown-menu{
        display: block;
    }
}

/* Small devices (landscape phones) */
@media (max-width: 576px){
    .navbar{
        height: 90px;
    }

    .img-header-mobile{
        width: 80px;
    }

    .dropdown-menu{
        left: 2rem;
        width: unset;
        top: 100px;
    }
}

