/* Elements HTML class -------------------------------------------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#555555, #AAAAAA);
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    color: #FFFFFF;
    text-align: center;
    background: url(/img/bg.jpg);
}

/* Header --------------------------------------------------------------------- */
header{
    width: 100%;
    height: 80px;
    position: relative;
    background: url(/img/bg.jpg);
}

.img-header-mobile, .img-footer-mobile{
    display: block;
}

.img-header-desktop, .img-footer-desktop{
    display: none;
}

.img-header-mobile{
    width: 70px;
    padding-top: 5px;
}

.navbar{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.navbar-links{
    display: none;
}

.navbar .login-btn{
    display: none;
}

.login-btn{
    background-color: #FFA500;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.toggle-btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

.dropdown-menu{
    display: block;
    position: absolute;
    right: 0.7rem;
    top: 90px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header a{
    text-transform: uppercase;
    color: #FFFFFF;
}

header a:hover{
    color: #FFA500;
}

.dropdown-menu li{
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .login-btn{
    width: 80%;
    color: #000000;
    text-align: center;
}

.dropdown-menu.open{
    height: 200px;
}

/* Main Index ----------------------------------------------------------------- */

.image-banner{
    background: url("/img/banner-mobile.jpg");
    height: 220px;
    background-position: center;
}

.title-main{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.container-principal{
    padding: 20px;
}

.container-principal p{
    margin: 10px;
    font-weight: bold;
}

.container-principal strong{
    font-size: 1.5em;
}

.container-principal em{
    font-style: italic;
}

.image-principal{
    width: 120px;
    margin: 15px 20px 20px 0;
    float: left;
}

.container-characteristics{
    display: flex;
    margin: 10px;
}

.items-characteristics{
    width: 100%;
}

.list-characteristics{
    text-align: center;
    width: 50%;
}

.list-items{
    font-style: italic;
    font-weight: bold;
    margin: 40px;
}

.list-items:first-child {
    font-size: 20px;
}

.list-items:after{
    content: " ★";
}

.list-items:before{
    content: "★ ";
}

.video-barber{
    margin: 0 auto;
    text-align: center;
}

.img-char{
    height: 400px;
    margin: 10px;
    background: url("/img/diferenciales.jpg");
    background-size: cover;
    box-shadow: 10px 10px 15px 5px #000000;
}

.img-char:hover{
    opacity: 0.5;
    transition: 600ms;
}

.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.paragraph-copyright{
    font-size: 13px;
    margin: 20px;
}

.paragraph-location-mobile{
    display: none;
}

.map-footer{
    margin: 1em;
} */


/* PRODUCTS ---------------------------------------------------------------- */
.main-products{
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(#CCCCCC, #AAAAAA);
}

.list-products{
    padding: 50px;
    width:940px;
    margin: 0 auto;
}

.list-products li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;

}

.list-products li:hover{
    border-color: #C78C19;
    cursor: pointer;
}

.list-products li:active{
    border-color: #088C19;
}

.list-products h2{
    font-size: 30px;
    font-weight: bold;
}

.list-products li:hover h2{
    font-size: 35px;
}

.description-product{
    font-size: 18px;
}

.price-product{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/* CONTACT ----------------------------------------------------------------- */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

fieldset{
    width: 70%;
    margin: 10px;
}

form label{
    width: 70%;
    text-align: left;
    font-size: 20px;
    margin: 5px 0;
}

form legend, form p{
    font-size: 20px;
}

.option-contact{
    margin: 5px 0;
}

.input-data{
    margin: 5px 0 10px 0;
    padding: 10px 2px;
    width: 70%;
}

form select{
    margin: 5px 0 10px 0;
    padding: 10px 2px;
    width: 50%;
}

.send-form{
    margin: 5px 0 20px;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFF;
    background: #FFA500;
    transition: 1s all;
    cursor: pointer;
}

.send-form:hover{
    background: #FF8C00;
    transform: scale(1.3);
}

.table-container{
    width: 940px;
    display: flex;
    justify-content: center;
}

table{
    width: 50%;
}

thead{
    background: #555555;
    font-weight: bold;
    color: #FFFFFF;
}

td, th{
    border: 1px solid #000000;
}

/* MediaQuerys ---------------------------------------------------------------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header{
        height: 120px;
    }

    .img-header-mobile{
        width: 110px;
    }

    .dropdown-menu{
        top: 130px
    }

    .image-banner{
        background: url("/img/banner.jpg");
        height: 350px;
        background-size: cover;
        background-position: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    header{
        height: 30vh;
    }

    .img-header-desktop{
        height: 30vh;
        padding-top: 20px;
    }

    .navbar-links, .navbar .login-btn{
        display: block;
    }

    .toggle-btn{
        display: none;
    }

    .navbar-links li{
        display: inline;
        margin: 30px;
        font-size: x-large;
    }
    
    .navbar .login-btn:hover{
        scale: 1.1;
        color: #000000;
    }

    .img-header-mobile, .img-footer-mobile{
        display: none;
    }
    
    .img-header-desktop, .img-footer-desktop{
        display: block;
    }

    .image-banner{
        height: 70vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-links li{
        margin: 60px;
    }

    .login-btn{
        font-size: x-large;
    }
}

/* XX-large devices (xx-large desktops, 1440px and up) */
@media (min-width: 1920px) {
    .navbar-links li{
        margin: 120px;
        font-size: xx-large;
    }

    .login-btn{
        font-size: xx-large;
    }
}
